# virtual environment
.venv

# python cache (error 방지)
__pycache__
__pycache__/

# DKN : https://github.com/recommenders-team/recommenders
recommenders

# khaiii : https://github.com/kakao/khaiii
khaiii